<div class="card">
  <table class="table table-hover table-stripped">
    <thead class="thead-dark">
      <tr>

        <th class="align-middle text-center">#</th>
        <th class="align-middle text-center">User</th>
        <th class="align-middle text-center">Date</th>
        <th class="align-middle text-center">Price</th>
        <th class="align-middle text-center">Trans ID</th>
        <th class="align-middle text-center">Status</th>
        <th class="align-middle text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="service.list?.length < 1">
        <td colspan="8" class="text-center">
          <h3>No Data Found</h3>
        </td>
      </tr>
      <tr *ngFor="let o of service.list; let i = index" class="m-0 p-0">
        <td class="align-middle text-center">{{i+1}}</td>
        <td class="align-middle text-center">{{o.Email}}</td>
        <td class="align-middle text-center">{{o.CreationDate}}</td>
        <td class="align-middle text-center">Rs. {{o.TotalPrice}}/-</td>
        <td class="align-middle text-center">{{o.TransId}}</td>
        <td *ngIf="o.Status" class="align-middle text-center"><label
            class="badge badge-pill badge-success">Completed</label></td>
        <td *ngIf="!o.Status" class="align-middle text-center"><label
            class="badge badge-pill badge-primary">Pending</label></td>
        <td class="align-middle text-center">
          <button class="btn btn-danger" routerLink="/dashboard/order/orderDetail/{{o.Id}}"><i
              class="fa fa-eye"></i> View</button>
              <button *ngIf="!o.Status" class="btn btn-info ml-2" (click)="updateStatus(o.Id)"><i class="fa fa-edit"></i>
                Update</button>
            </td>
      </tr>
    </tbody>
  </table>
</div>
