<button class="btn btn-link mt-2 mb-2" routerLink="/user/home/categoryItem/{{service.foodItem?.CategoryId}}"><i class="fa fa-arrow-left"></i> Go Back</button>
<div class="row w-100">
<div class="col-md-6">
  <img src="{{baseUrl + service.foodItem?.Image}}" class="img-fluid" >
</div>
<div class="col-md-6">
  <h3>{{service.foodItem?.Name}}</h3>
  <h2>Rs. {{service.foodItem?.Price}}/-</h2>
  <p>{{service.foodItem?.Description}}</p>
  <div class="row w-100">
    <div class="col text-right">
      <button class="btn btn-primary">Add to Cart</button>
    </div>
    <div class="col">
      <button class="btn btn-danger">Proceed to checkout</button>
    </div>

  </div>
</div>
</div>
