<div class="row">
  <div class="col-md-6">
    <div *ngIf="categoryForm.invalid && (categoryForm.dirty || categoryForm.touched)" class="alert alert-danger">
      <div *ngIf="categoryForm.controls.name.errors?.required">
        Name is required!
      </div>
      <div *ngIf="categoryForm.controls.FileUpload.errors?.required">
        File is required!
      </div>
    </div>
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <div>
        <input type="text" class="form-control m-2" name="name" formControlName="name"
          [(ngModel)]="service.category.Name" />
      </div>
      <div class="custom-file ml-2">
        <input formControlName="FileUpload" class="custom-file-input" type="file" accept="image/*" (change)="processFile($event)">
        <label class="custom-file-label">Choose file...</label>
      </div>

      <button class="btn btn-primary m-2" type="submit" [disabled]="!categoryForm.valid"><i class="fa fa-save"></i>
        Update</button>
      <button class="btn btn-danger m-2" routerLink="/dashboard/category/viewCategory"><i class="fa fa-times"></i>
        Cancel</button>
    </form>
    <div *ngIf="status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
    <div *ngIf="status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
  </div>
  <div class="col-md-6">
    <img src="{{baseUrl + service.category.Image}}" height="100" width="100" />
  </div>

</div>