<app-admin-header></app-admin-header>
<div class="container-fluid">
<div class="row">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav nav-pills nav-fill flex-column mt-2">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard/user">
            User
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard/category/viewCategory">
            Category
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/dashboard/foodItem/viewFoodItem">
            Food Item
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <router-outlet></router-outlet>
</main>
</div>
</div>


