<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Food Ordering System</a>
    <div class="dropdown mr-2">
      <label class="text-white dropdown-toggle m-0"  style="cursor: pointer;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{this.service.user.Email}}
      </label>
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button" (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </nav>
